---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/shared/Navbar.astro';
import Footer from '../components/shared/Footer.astro';

//src/layouts/Layout.astro
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>

		<meta name="title" content={title} />
		<meta name="description" content="Fruna, la dulcería de Chile, ofrece una amplia variedad de productos como chocolates, helados y confites de alta calidad." />

		<!-- Open Graph / Facebook -->
		<meta property="og:title" content={title} />
		<meta property="og:url" content="https://fruna-teal.vercel.app" />
		<meta property="og:description" content="Fruna ofrece productos deliciosos como chocolates, helados y más." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://fruna-teal.vercel.app/logo-fruna-la-dulceria-de-chile-2.jpg" />
		<meta property="og:site_name" content="Fruna - La Dulcería de Chile" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://fruna-teal.vercel.app" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content="Fruna, la dulcería más deliciosa de Chile con productos increíbles." />
		<meta property="twitter:image" content="https://fruna-teal.vercel.app/logo-fruna-la-dulceria-de-chile-2.jpg" />

		<script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
		<ViewTransitions/>
	</head>
	<body class="font-medium">
		<Navbar logoUrl='logo-fruna-la-dulceria-de-chile-2.png'/>
		<slot />
		<Footer logoUrl='logo-fruna-la-dulceria-de-chile-2.png'/>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
.chewy-text	{
	font-family: "Chewy", Sans-serif;
}
</style>
