---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/shared/Navbar.astro';
import Footer from '../components/shared/Footer.astro';

//src/layouts/Layout.astro
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Fruna, la dulcería de Chile, ofrece una amplia variedad de productos como chocolates, helados y confites de alta calidad." />
		<meta name="keywords" content="Fruna, dulces, chocolates, confites, helados, dulcería de chile" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:site_name" content="Fruna">
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Fruna ofrece productos deliciosos como chocolates, helados y más." />
		<meta property="og:image" content="/logo-fruna-la-dulceria-de-chile-2.png" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content="Fruna, la dulcería más deliciosa de Chile con productos increíbles." />
		<meta name="twitter:image" content="/logo-fruna-la-dulceria-de-chile-2.png" />

		<title>{title}</title>
		<script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
		<ViewTransitions/>
	</head>
	<body class="font-medium">
		<Navbar logoUrl='logo-fruna-la-dulceria-de-chile-2.png'/>
		<slot />
		<Footer logoUrl='logo-fruna-la-dulceria-de-chile-2.png'/>
	</body>
</html>

